.container {
    display: flex;
    flex-direction: column;
}

.buttonGroup {
    align-self: flex-end;
    margin-top: 8px;
}

.functionContent {
    display: flex;
    flex-direction: row;

    .functionList {
        margin: 4px;
        padding: 4px;
        border: wheat 1px solid;
        display: flex;
        flex-direction: column;
    }
}
