.container {
    display: flex;
    flex-direction: row;
    height: calc(100% - 60px);
    overflow: auto;
    padding: 0 20px;
    margin-top: 8px;
}

.functionContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 32px;
    padding-left: 12px;
    padding-right: 12px;
    max-height: 100%;
    overflow: auto;
    flex: 1 1 100%;
}
