.container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 49px);
    overflow: auto;
}

.functionContent {
    display: flex;
    flex-direction: row;
    max-height: 300px;
    flex-wrap: wrap;
    padding-left: 36px;
    padding-right: 36px;

    .functionList {
        flex: 1 1 33%;
        max-width: 33.3%;
    }
}
