.node {
    user-select: none;
    display: flex;
    flex-direction: column;

    .nodeContent {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 200px;
        min-height: 32px;
        cursor: pointer;
        user-select: none;
        font-family: 'Noto Sans', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;

        .text {
            margin-left: 8px;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.4);
        }

        &:active {
            background-color: rgba(0, 0, 0, 0.6);
        }

        &.selected {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }
}

.scrollContainer {
    max-height: 400px;
    overflow: auto;
}
