.queryCondition {
    display: flex;
    flex-direction: row;
    background: #102740;
    padding: 20px;
    border-bottom: 2px solid #494949;

    > * {
        margin: 0 4px !important;
    }
}

.icon {
    width: 36px;
    height: 36px;
}
