.header {
    font-weight: 700 !important;
    line-height: 1.55556 !important;
    font-size: 1.125rem !important;
    font-family: 'Public Sans', sans-serif !important;
    display: block !important;
    color: rgb(33, 43, 54) !important;
    padding-left: 8px !important;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 10px;
    border: 1px solid rgba(207, 207, 207, 0.5);
    background-color: white;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.halfContent {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
}

.tableContainer {
    flex: 1 1 auto;
}
