.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.sidebar {
    padding: 5px;
}

.content {
    display: flex;
    flex: 70%;
    flex-direction: column;

    .header {
        display: flex;
        flex-direction: row;
        > * {
            margin-right: 4px;
        }
    }

    .body {
        margin: 6px 0;
        flex: 1 1 auto;
    }

    .footer {
        display: flex;
        justify-content: flex-end;
    }
}
