.link {
    font-family: 'Noto Sans', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #ff940f !important;
    text-decoration: underline !important;
    cursor: pointer;
}
