.iconText {
    display: flex;
    align-items: center;
    min-width: 200px;

    > svg:first-child {
        margin-right: 5px;
        font-size: 24px;
    }

    &.w350 {
        width: 350px;
    }
}

.rowReverse {
    flex-direction: row-reverse;

    button {
        padding: 0 !important;
        margin: 0 0 0 -8px !important;
    }
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #0f2742;
}

.headerInfo {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 100%;
    background: #102740;
    padding: 12px;
    border-bottom: 2px solid #494949;
}

.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 12px;
    border-top: 2px solid #494949;
	background: radial-gradient(#154a93, transparent);
}
